@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Roboto|Share+Tech+Mono&display=swap');


/* 
1. Navigation Bar
2. Body - Sections
3. Footer
4. Text Decorations
5. Media Queries
*/

/* Navigation Bar */



header { 
    background-color: hsl(160, 78%, 14%);
    border-radius: 0px 0px 5px 5px;
    display: block;
    top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    margin-bottom: 30px;
}

header nav { 
    display: flex;
    justify-content: center;    
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

header nav ul li {
    list-style-type: none;
}

header h1 {
    font-weight: 700;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    font-size: 3em;
    margin: auto;
}
  


/*  Body */

body {
    background-image: url("images/dark-green-background.jpg");
    background-repeat: repeat;
    margin: 0;
}


section {
    align-items: center;
}


.section-bg-primary {
    background-color: rgba(13, 40, 52, 80%);
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    margin: auto;
}

.margin-top {
    margin-top: 10em;
}

.face-image {
    border-radius: 50%;
    margin: auto;
    padding: 0;
    cursor: pointer;
}

.project-image {
    border-radius: 5px;
    float: right;
    margin: 2em;
    padding: 0;
    cursor: pointer;
}

.section-wrapper {
    width: 100%;
}

.section-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-item, .contact-item, .contact-item-triple {
    margin: auto;
    flex-basis: auto;
}


.box-shadow {
    box-shadow: 0px 0px 3px grey;
}

.contact-group {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.contact-container {
    width: 100%;
}

.contact-container ul {
    list-style-type: none;
    margin: 0;
}
.contact-item-triple {
    flex: 3;
}

form label {
    display: block;
}

/* Footer */

footer {
    background-color: #000;
    width: 100%;
  }

.footer-bg-primary {
    width: 100%;
}
.footer-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 2em;   
}

.footer-group p {
    color: hsl(29, 100%, 58%);
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
}

.iframe {
    
    margin-right: 10em;
}


/* Body Text Decorations */

main h2 {
    text-align: center;
}

.section-group p, ol, ul, h3 {
  font-size: 18px;
  font-family: "Baloo Paaji 2", cursive;
  margin: auto;
  color: white;
  padding: 2rem;
}
.section-bg-primary h2 {
    color: #fff;
    font-family: 'Share Tech Mono', monospace;
    font-size: 2rem;
}

.button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
    margin: .4em;
}

.contact-container label {
  color: #fff;
  font-weight: 700;
  font-family: 'Share Tech Mono', monospace;
}




  /* Text Decorations */
 .caps {
    text-transform: uppercase;
    letter-spacing: .2em;
}
  header h1 {
    color: hsl(29, 100%, 58%);
    padding: 0;
    margin: 10px;
  }

  a {
    color: white;
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
  }
  
  
  a:link {color: hsl(29, 100%, 58%)}
  a:visited {color: orange}
  a:hover {color: white}
  a:active {color: red}

/* Media Query */

@media all and (min-width: 600px) {
    .section-group {
        flex-wrap: row wrap;
        justify-content: center;
    }

    .footer-group {
        flex-wrap: row wrap;
    }

    form label {
        display: block;
    }

    header { 
        display: flex;
        justify-content: space-between;
    }

    header h1 {
        margin-left: 20px;
        text-align: center;
    }

    header nav ul {
        margin-right: 20px;
    }

    header nav ul li a:hover {
        cursor: pointer;
        background-color: rgba(255, 144, 40, .2);
        margin: 3px;
    }

    .section-bg-primary {
        align-self: center;
        width: 80%;
    }
}









